nodered.json
[{"id":"ha-relay-control","type":"tab","label":"HA Relay Control","disabled":false,"info":""},{"id":"mqtt-in-ha","type":"mqtt in","z":"ha-relay-control","name":"HA Commands","topic":"home/test/relay/set","qos":"0","datatype":"auto","broker":"","x":120,"y":100,"wires":[["process-command"]]},{"id":"process-command","type":"function","z":"ha-relay-control","name":"Process HA Command","func":"const command = msg.payload;\nconst topic = msg.topic;\n\n// Логируем команду\nnode.log(`HA → Node-RED: ${command}`);\n\n// Отправляем команду в Serial\nconst serialMsg = { \n    payload: command + \"\\n\",\n    serialDevice: \"/dev/ttyUSB0\"\n};\n\n// Обновляем состояние в HA\nconst stateMsg = {\n    payload: command,\n    topic: \"home/test/relay/state\"\n};\n\nreturn [[serialMsg], [stateMsg]];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":100,"wires":[["serial-out"],["mqtt-out-state"]]},{"id":"serial-out","type":"serial out","z":"ha-relay-control","name":"To ESP8266","serial":"d27b1ffa.cec0c","x":590,"y":60,"wires":[]},{"id":"mqtt-out-state","type":"mqtt out","z":"ha-relay-control","name":"To HA State","topic":"home/test/relay/state","qos":"0","retain":"true","broker":"","x":590,"y":140,"wires":[]},{"id":"serial-in","type":"serial in","z":"ha-relay-control","name":"From ESP8266","serial":"d27b1ffa.cec0c","x":120,"y":200,"wires":[["process-esp-response"]]},{"id":"process-esp-response","type":"function","z":"ha-relay-control","name":"Process ESP Response","func":"const response = msg.payload.toString().trim();\nnode.log(`ESP → Node-RED: ${response}`);\n\nif (response === \"RELAY: ON\") {\n    msg.payload = \"ON\";\n    msg.topic = \"home/test/relay/state\";\n    return msg;\n} else if (response === \"RELAY: OFF\") {\n    msg.payload = \"OFF\";\n    msg.topic = \"home/test/relay/state\";\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":200,"wires":[["mqtt-out-state"]]},{"id":"d27b1ffa.cec0c","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"}]
